html {
    background-color: #f9f9f9;
    color: #2d3133;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
	height: 100vh;
    margin: 0;

    
}
body {
    background-color: #f9f9f9;
    color: #2d3133;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    height: 100vh;
    margin: 0; 

    
}
.welcome {
    color: #2d3133;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    height: 100vh;
    margin: 0;
}
.full-height {
    height: 75vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #2d3133;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.price {
    font-weight: normal;
}
.links {
    font-weight: 600;
}
.delete {
    color: #fc001d;
}

.margin_top_container {
    padding-top: 50px;
}

.padding_top_section {
 padding-top: 50px;   
}
